#start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/start-screen-bg.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hide-bg {
  background-image: none;
}

#game-screen {
  display: none;
  margin-bottom: 70px;
  margin-top: auto;
}

h1 {
  color: rgba(237, 148, 97, 0.59);
  font-size: 5rem;
  margin-bottom: 2rem;
  -webkit-text-stroke: 2px black;
}

#start-button {
  display: inline-block;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(237, 148, 97, 0.59);
  color: black;
  -webkit-text-stroke: 0.1px grey;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 50px;
  transition: background-color 0.3s ease-in-out;
}
#start-button:hover {
  background-color: rgb(237, 148, 97);
}

html, body {
  font-family: "Trebuchet MS", serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

kbd {
  border: 1px solid #000;
  border-radius: 2px;
  padding: 1px 5px;
}

.game {
  overflow: hidden;
}

canvas {
  float: left;
}

.score {
  float: left;
  padding: 0 0.8em;
  line-height: 2.5em;
  background-color: #ddd;
}

.alert-box-content {
  padding: 0 0.8em;
  line-height: 2.5em;
  background-color: #ddd;
}

.controls {
  display: grid;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.alert-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.alert-box-visible .alert-box {
  opacity: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(237, 148, 97, 0.54);
  padding: 10px;
}

.footer-button {
  border-radius: 10%;
  background-color: #b28a70;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
  transition: transform 0.2s ease-in-out;
}
.footer-button:hover {
  transform: scale(1.1);
}

.exit-button {
  display: none;
}

.reload-button {
  display: none;
  background-color: #b28a70;
  transition: background-color 1000ms ease;
  rotate: 90deg;
}

.tank-image {
  width: 60px; /* Set the desired width */
  height: auto; /* Maintain the aspect ratio */
  margin-top: 20px; /* Adjust the top margin as needed */
  display: block; /* Center the image */
  margin-left: auto; /* Center the image horizontally */
  margin-right: auto; /* Center the image horizontally */
  border: 3px solid black; /* Add a solid border with 1px width */
  border-radius: 10px;
  padding: 10px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.popup-content {
  border: 1px solid #000;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b28a70;
  padding: 20px;
  overflow: hidden;
}

.reload-animation {
  animation: reload-timer 2s linear;
}

@keyframes reload-timer {
  0% {
    background-color: #b28a70;
  }
  100% {
    background-color: #7f9142;
  }
}

/*# sourceMappingURL=style.css.map */
